<div class="container main-container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="text-center">
                <fa-icon [icon]="faPenToSquare" routerLink="avatar-choose"/>
            </div>
            <div class="text-center">
                <img src={{userAvatar.photo}} alt="Profile Picture" class="profile-picture">
            </div>

            <h2 class="text-center mt-3 text-white">User Profile</h2>
            <div class="mt-4 profile-info">
                <p><strong>First Name:</strong> {{currentUser.firstName}}</p>
                <p><strong>Last Name:</strong> {{currentUser.lastName}}</p>
                <p><strong>Username:</strong> {{currentUser.username}}</p>
                <p><strong>Email:</strong> {{currentUser.email}}</p>
            </div>
            <div class="mt-5 mx-auto text-center">
                <a routerLink="/profile/update" class="btn me-4 " id="updateButton">Update Personal Information</a>
                <a routerLink="delete" class="btn btn-danger">Delete Account</a>
            </div>
            <div class="mt-5 mx-auto text-center">
                <a routerLink="/profile/change-password" class="btn me-4" id="updateButton">Change password</a>
            </div>
        </div>
    </div>
</div>