<div class="container w-50">
<form [formGroup]="quizForm" class="quizForm" (ngSubmit)="onSubmit()">
  <label class="form-label">Quiz title</label>
  <input class="form-control" type="text" id="title" formControlName="title" placeholder="title" >
  <label class="form-label">Quiz description</label>
  <input class="form-control" type="text" formControlName="description" placeholder="description">

  <div formArrayName="questionDtoList">
    <div *ngFor="let question of questions().controls; let questionIndex=index">
      <div [formGroupName]="questionIndex" style="border: 1px solid red; padding: 10px; margin: 5px;">
        {{questionIndex+1}}.
        Question text :
        <input type="text" class="form-control" formControlName="questionText"> 
        <button (click)="removeQuestion(questionIndex)" class="btn btn-danger">Remove question</button>
        <div formArrayName="answerDtoList">
          <div *ngFor="let answer of questionAnswers(questionIndex).controls; let answerIndex=index">
            <div [formGroupName]="answerIndex">
              {{answerIndex+1}}.
              Answer :
              <input type="text" formControlName="text">
              Correct:
              <input type="checkbox" formControlName="isCorrect">
 
              <button (click)="removedQuestionAnswer(questionIndex,answerIndex)" class="btn btn-danger" id="removeAnswer">Remove answer</button>
 
            </div>
            
          </div>
          <button type="button" class="btn btnBlue" (click)="addQuestionAnswer(questionIndex)">Add answer</button>
          </div>
        </div>
    </div>
    <button type="button" class="btn btnBlue" (click)="addQuestion()">Add question</button>
  </div>
  <button type="submit" class="btn btn-success mt-5">Submit</button>
  </form>
    
</div>