  <div class="container mt-5">
    <div class="jumbotron">
        
      <h1 class="display-4 text-white">
        <img ngSrc="assets/favicon.png" alt="Logo" height="100" width="100">
        Welcome to Surf Safely!
    </h1>
      <p class="lead text-white">Learn about security through gamification and protect yourself online.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Quizzes</h5>
            <p class="card-text">Play interactive quizzes and earn points to enhance your security knowledge.</p>
            <a routerLink="/quiz-list" class="btn btn-primary">Start Quiz</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Avatar</h5>
            <p class="card-text">Customize your avatar using the points you've earned from quizzes.</p>
            <a routerLink="/profile" class="btn btn-primary">Customize Avatar</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Scan</h5>
            <p class="card-text">Scan URLs and files for viruses to ensure a safe browsing experience.</p>
            <a routerLink="/scan" class="btn btn-primary">Scan Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Leaderboard</h5>
            <p class="card-text">Check the top performers and see how you rank among other users.</p>
            <a routerLink="/leaderboard" class="btn btn-primary">View Leaderboard</a>
          </div>
        </div>
      </div>

    </div>
  </div>

