<p>update-personal-info works!</p>
<div class="container main-container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="text-center">
                <h2 class="text-center mt-3 text-white">Update personal information</h2>
            </div>
            <form [formGroup]="updatePersonalForm" (ngSubmit)="updatePersonal()">

              <div class="mb-3">
                <label for="firstNameInput" class="form-label">First name</label>
                <input  type="text" class="form-control" id="firstNameInput" formControlName="firstNameInput">
              </div>
              <div class="mb-3">
                <label for="lastNameInput" class="form-label">Last name</label>
                <input  type="text"  class="form-control" id="lastNameInput" formControlName="lastNameInput">
              </div>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input  type="text" class="form-control" id="emailInput" formControlName="emailInput">
              </div>
              <div class="mb-3 d-flex flex-column align-items-center ">
                <button type="submit" class="btn btn-primary w-100">Change information</button>
              </div>
            </form>
              <div class="mt-5 mx-auto text-center">
                <a routerLink="/profile" class="btn btn-info">Go back</a>
              </div>
        </div>
    </div>
</div>