
<div class="container main-container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
          <h5 class="text-danger">{{errorText}}</h5>
            <div class="text-center">
                <h2 class="text-center mt-3 text-white">Change password</h2>
            </div>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

              <div class="mb-3">
                <label  class="form-label">Old password</label>
                <input  type="password" class="form-control"  formControlName="oldPassword">
              </div>
              <div class="mb-3">
                <label class="form-label">New password</label>
                <input  type="password"  class="form-control" formControlName="newPassword">
              </div>
             
              <div class="mb-3 d-flex flex-column align-items-center ">
                <button type="submit" class="btn btn-primary w-100">Change password</button>
              </div>
            </form>
              <div class="mt-5 mx-auto text-center">
                <a routerLink="/profile" class="btn btn-info">Go back</a>
              </div>
        </div>
    </div>
</div>